@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Pokemon GB', monospace;
}

@import url('https://fonts.cdnfonts.com/css/pokemon-gb');

.pokemon-text {
  letter-spacing: 1px;
}

